/* Reset et configuration de base */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #FFE8B3  ;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Conteneur principal de connexion */
.login-container {
    background-color: #37745F;
    padding: 40px;
    border-radius: 10px;
    width: 350px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Titre */
.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

/* Groupes de champs de saisie */
.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
    color: #fff;
}

.input-group input {
    width: 100%;
    padding: 10px 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Bouton de connexion */
.login-btn {
    width: 100%;
    padding: 12px;
    background-color: #0C513F;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-btn:hover {
    background-color: #06261d;
}

/* Options complémentaires (mot de passe oublié et inscription) */
.options {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 14px; /* Complété avec la taille de police */
}

.options a {
    color: #fff;
    text-decoration: none;
}

.options a:hover {
    text-decoration: underline;
}
