<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}FoodLink{% endblock %}</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    {% block additional_css %}{% endblock %}
    <link href="https://fonts.googleapis.com/css2?family=Titan+One&display=swap" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/header.js') }}" defer></script>
</head>
<body>
    {% block content %}{% endblock %}

    {% block additional_js %}{% endblock %}
</body>
</html> 