<!DOCTYPE html>
<html lang="fr">
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FoodLink - Accueil</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='index1.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='index2.css') }}">
  </head>
  <body>
    <div class="home-page">
      <div class="overlap-wrapper">
        <div class="overlap">
          <div class="main-page">
            <div class="main">
              <div class="stories">
                <div class="p"><div class="text-wrapper">Notre équipe</div></div>
                <div class="div">
                  <div class="div-2">
                    <div class="div-3"></div>
                    <div class="div-4">
                      <p class="chowdeck-joins-y">CHOWDECK JOINS Y COMBINATOR&#39;S S&#39;22 BATCH</p>
                      <div class="div-wrapper">
                        <p class="text-wrapper-2">
                          Chowdeck has been accepted to Y Combinator’s Summer Batch 2022, joining a league of
                          extraordinary companies that are dis...
                        </p>
                      </div>
                      <div class="a"><div class="text-wrapper-3">Read More</div></div>
                    </div>
                  </div>
                  <div class="div-2">
                    <div class="div-5"></div>
                    <div class="div-4">
                      <div class="champions-kingsley">CHAMPIONS : KINGSLEY AGBINYA</div>
                      <div class="p-2">
                        <p class="text-wrapper-4">
                          Kingsley, a rider who got promoted to an associate talks about his journey and the biggest
                          change in his life since he j...
                        </p>
                      </div>
                      <div class="a"><div class="text-wrapper-3">Read More</div></div>
                    </div>
                  </div>
                  <div class="div-2">
                    <div class="div-6"></div>
                    <div class="div-7">
                      <div class="champions-anthony">CHAMPIONS : ANTHONY AGAM</div>
                      <div class="p-3">
                        <p class="text-wrapper-5">
                          Anthony a.k.a Spider, a Senior Man, shares his life-changing experience and most memorable
                          delivery with Chowdeck.
                        </p>
                      </div>
                      <div class="a-2"><div class="text-wrapper-3">Read More</div></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="bloc-contact">
                <div class="overlap-group">
                  <img class="image" src="img/image-2.png" />
                  <div class="div-8">
                    <div class="text-wrapper-6">Contact</div>
                    <div class="span">
                      <div class="overlap-group-2">
                        <div class="a-3"><div class="text-wrapper-7">Email</div></div>
                        <div class="br"></div>
                      </div>
                      <div class="a-4"><div class="text-wrapper-7">Objet</div></div>
                    </div>
                    <div class="overlap-2">
                      <div class="overlap-3">
                        <div class="a-5"><div class="text-wrapper-8">Message</div></div>
                        <img class="promo-code-svg" src="img/promo-code-svg.svg" />
                        <img class="drink-svg" src="img/drink-svg.svg" />
                      </div>
                      <div class="p-4">
                        <div class="p-before"></div>
                        <div class="text-wrapper-9">CDNWEB</div>
                      </div>
                      <p class="get-off-your">
                        <span class="text-wrapper-10">Get </span>
                        <span class="text-wrapper-11">₦300 off</span>
                        <span class="text-wrapper-10"> your first order when you use this promo code!</span>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="bloc-partenaire">
                <div class="overlap-4">
                  <img class="vector" src="img/vector.svg" />
                  <img class="img" src="img/vector-4.svg" />
                  <img class="vector-2" src="img/vector-2.svg" />
                  <img class="vector-3" src="img/image.svg" />
                  <img class="vector-4" src="img/vector-3.svg" />
                  <img class="vector-5" src="img/vector-6.svg" />
                  <img class="vector-6" src="img/vector-5.svg" />
                  <div class="text-wrapper-12">Nos Partenaires</div>
                  <img class="intermarch-logo" src="img/intermarch-logo-2009-supermarkets-svg-1.png" />
                  <img class="element-e-leclerc" src="img/1280px-e-leclerc-logo-svg-1.png" />
                  <img class="logo-carrefour-svg" src="img/logo-carrefour-svg-1.png" />
                  <img class="logo-geant-rvb" src="img/logo-geant-2015-rvb-1.png" />
                  <img class="intermarch-logo-2" src="img/intermarch-logo-2009-supermarkets-svg-2.png" />
                  <img class="element-px-e-leclerc" src="img/1280px-e-leclerc-logo-svg-2.png" />
                  <img class="logo-carrefour-svg-2" src="img/logo-carrefour-svg-2.png" />
                  <img class="logo-geant-rvb-2" src="img/logo-geant-2015-rvb-2.png" />
                </div>
              </div>
              <div class="overlap-5">
                <div class="bloc-resaux">
                  <div class="overlap-6">
                    <div class="page-verte"></div>
                    <img class="chowdeck-app-png" src="img/chowdeck-app-png.png" />
                    <img
                      class="instagram-grid-in"
                      src="img/instagram-grid-in-black-and-white-tan-simple-and-minimal-style-1-1.png"
                    />
                    <div class="text-wrapper-13">Rejoignez nous !</div>
                    <img class="sac-de-merde" src="img/sac-de-merde-2.svg" />
                    <img class="sac-demerde" src="img/sac-demerde-1.svg" />
                  </div>
                </div>
                <div class="bloc-assso">
                  <div class="overlap-7">
                    <div class="div-9">
                      <p class="notre-site-est-la">
                        Notre site est la premier au monde pour le don ou la revante d&#39;invendus alimentaires à
                        l’attentiondes entreprises et des associations de secour alimentaire.<br />
                        Les associations peuvent sauver de la nourriture, tout en bénéficiant d&#39;un excellent rapport
                        qualité-prix dans les commerces de proximité, boulangeries et restaurants.
                      </p>
                      <p class="foodink-est-une">
                        Foodink est une entreprise à impact social dont la mission est d&#39;inspirer et de donner les
                        clés aux commerces de lutter contre le gaspillage alimentaire.
                      </p>
                    </div>
                    <div class="entreprise-asso">
                      <div class="overlap-8">
                        <div class="bouton-commerce-wrapper">
                          <div class="bouton-commerce"><div class="text-wrapper-14">Commerce</div></div>
                        </div>
                        <div class="group">
                          <div class="bouton-asso"><div class="text-wrapper-15">Association</div></div>
                        </div>
                        <div class="carte">
                          <div class="entreprise">
                            <div class="div-10">
                              <img class="svg" src="img/svg-7.svg" />
                              <p class="votre-commerce-g-n">
                                Votre commerce génère du surplus alimentaire que vous êtes obligé de jeter, faute de
                                contact&nbsp;&nbsp;pour le récupérer :
                              </p>
                              <div class="a-6">
                                <div class="voir-plus">VOIR PLUS</div>
                                <img class="svg-2" src="img/svg-6.svg" />
                              </div>
                            </div>
                            <div class="foodlink-entreprise-wrapper">
                              <img class="foodlink-entreprise" src="img/foodlink-entreprise.png" />
                            </div>
                          </div>
                          <div class="asso">
                            <div class="overlap-group-3">
                              <div class="span-wrapper">
                                <div class="div-11">
                                  <div class="image-wrapper"><div class="image-2"></div></div>
                                  <div class="image-3"></div>
                                </div>
                              </div>
                              <img class="foodlink-asso" src="img/foodlink-asso.png" />
                            </div>
                            <div class="div-10">
                              <img class="svg-3" src="img/svg-4.svg" />
                              <p class="text-wrapper-16">
                                Votre association de secoure alimentaire peine à touver des sources de dons régulières :
                              </p>
                              <div class="a-6">
                                <div class="voir-plus">VOIR PLUS</div>
                                <img class="svg-2" src="img/svg-9.svg" />
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="TOP-PAGE">
                <div class="slogan">
                  <div class="frame-wrapper">
                    <div class="frame">
                      <div class="overlap-9">
                        <div class="nuage">
                          <img class="layer" src="img/layer-32.png" />
                          <img class="layer-2" src="img/layer-31.png" />
                          <img class="layer-3" src="img/layer-30.png" />
                          <div class="camion-wrapper"><img class="camion" src="img/camion.png" /></div>
                        </div>
                        <p class="text-wrapper-17">Ensemble pour un monde sans gaspillage alimentaire</p>
                        <div class="MAIN-TITLE">FoodLink</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <footer class="footer">
              <div class="div-12">
                <div class="div-13">
                  <div class="input-email-wrapper">
                    <div class="input-email">
                      <div class="div-placeholder"><div class="text-wrapper-18">yourname@email.com</div></div>
                    </div>
                  </div>
                  <img class="svg-4" src="img/svg-3.svg" />
                </div>
                <div class="div-14">
                  <div class="div-15">
                    <img class="svg-5" src="img/svg-5.svg" />
                    <div class="div-16">
                      <div class="div-11">
                        <div class="div-11"><div class="image-4"></div></div>
                        <img class="image-5" src="img/image.png" />
                      </div>
                      <div class="text-wrapper-19">Chowdeck</div>
                    </div>
                  </div>
                  <div class="div-17">
                    <div class="div-18">
                      <div class="div-19">
                        <div class="text-wrapper-20">COMPANY</div>
                        <div class="ul">
                          <div class="text-wrapper-21">customers</div>
                          <div class="text-wrapper-22">Vendors</div>
                          <div class="text-wrapper-23">Riders</div>
                          <div class="text-wrapper-24">Storefront</div>
                          <div class="text-wrapper-25">About</div>
                          <div class="text-wrapper-26">Careers</div>
                          <div class="text-wrapper-27">FAQs</div>
                          <div class="text-wrapper-28">Blog</div>
                          <div class="text-wrapper-29">Contact</div>
                          <div class="text-wrapper-30">Terms of Use</div>
                          <div class="text-wrapper-31">Privacy Policy</div>
                        </div>
                      </div>
                      <div class="div-20">
                        <div class="text-wrapper-20">CUISINES NEAR YOU</div>
                        <div class="ul-2">
                          <div class="text-wrapper-32">Pasta near me</div>
                          <div class="text-wrapper-33">Rice near me</div>
                          <div class="text-wrapper-34">Fast food near me</div>
                          <div class="text-wrapper-35">Asian food in Lagos</div>
                          <div class="text-wrapper-36">African food in Lagos</div>
                          <div class="text-wrapper-37">Breakfast menu in Lagos</div>
                          <div class="text-wrapper-38">Fitfam stores in Lagos</div>
                          <div class="text-wrapper-39">American food in Lagos</div>
                          <div class="text-wrapper-40">Pastries in Lagos</div>
                          <div class="text-wrapper-41">Salad in Lagos</div>
                          <div class="text-wrapper-42">Fruits in Lagos</div>
                        </div>
                      </div>
                      <div class="div-19">
                        <div class="text-wrapper-20">POPULAR</div>
                        <div class="ul-3">
                          <div class="text-wrapper-43">Food delivery</div>
                          <div class="text-wrapper-44">Surulere</div>
                          <div class="text-wrapper-45">Ogudu</div>
                          <div class="text-wrapper-46">Yaba</div>
                          <div class="text-wrapper-47">Ikeja</div>
                          <div class="text-wrapper-48">Lekki</div>
                          <div class="text-wrapper-49">King Glab</div>
                          <div class="text-wrapper-50">Korede Spaghetti</div>
                          <div class="text-wrapper-51">Iyan Aladuke</div>
                          <div class="text-wrapper-52">Food Fusion</div>
                          <div class="text-wrapper-53">Belefull</div>
                        </div>
                      </div>
                    </div>
                    <div class="ul-4">
                      <div class="li">
                        <div class="a-7">
                          <img class="svg-6" src="img/svg-2.svg" />
                          <div class="text-wrapper-54">Twitter</div>
                        </div>
                      </div>
                      <div class="a-wrapper">
                        <div class="a-8">
                          <img class="svg-7" src="img/svg.svg" />
                          <div class="text-wrapper-55">Instagram</div>
                        </div>
                      </div>
                      <div class="li-2">
                        <div class="a-9">
                          <img class="svg-8" src="img/svg-8.svg" />
                          <div class="text-wrapper-56">Facebook</div>
                        </div>
                      </div>
                      <div class="a-10">
                        <div class="span-2"></div>
                        <div class="text-wrapper-57">LinkedIn</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="div-21">
                  <p class="text-wrapper-58">© All Rights Reserved. 2022, Chowdeck Logistics Inc.</p>
                </div>
              </div>
            </footer>
          </div>
          <div class="top-menu">
            <div class="overlap-10">
              <div class="menu-droite">
                <div class="text-wrapper-59">Blog</div>
                <div class="text-wrapper-60">Contact</div>
              </div>
              <div class="menu-gauche">
                <div class="text-wrapper-61">Accueil</div>
                <div class="text-wrapper-62">FAQs</div>
              </div>
              <div class="ellipse"></div>
              <img class="logo" src="img/logo-1.png" />
            </div>
          </div>
        </div>
      </div>
    </div>

  <!-- Messages flash affichés ici -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul>
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

  </body>
</html>
