<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='header1.css') }}">
    <title>FoodLink - Réinitialisation du mot de passe</title>
</head>
<body>

        {% include 'header.html' %}

    <h2>Réinitialisation du mot de passe</h2>
    <form method="POST">
        <label for="password">Nouveau mot de passe :</label>
        <input type="password" name="password" id="password" required>
        <button type="submit">Réinitialiser</button>
    </form>

<!-- Messages flash affichés ici -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul>
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

</body>
</html>
