.home-page {
  background-color: #ffe8b3;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.home-page .overlap-wrapper {
  background-color: #ffe8b3;
  overflow-x: hidden;
  width: 1440px;
  height: 8030px;
}

.home-page .overlap {
  position: relative;
  width: 1448px;
  height: 7983px;
}

.home-page .main-page {
  display: flex;
  flex-direction: column;
  width: 1448px;
  height: 7983px;
  align-items: flex-start;
  position: absolute;
  top: 0;
  left: 0;
}

.home-page .main {
  position: relative;
  width: 1442px;
  height: 7011px;
}

.home-page .stories {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  padding: 0px 96px;
  position: absolute;
  top: 5019px;
  left: 15px;
}

.home-page .p {
  display: inline-flex;
  align-items: center;
  gap: 9.44px;
  position: relative;
  flex: 0 0 auto;
}

.home-page .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Titan One-Regular", Helvetica;
  font-weight: 400;
  color: #193129;
  font-size: 63px;
  letter-spacing: -2.00px;
  line-height: 80px;
  white-space: nowrap;
}

.home-page .div {
  display: inline-flex;
  align-items: flex-start;
  gap: 40px;
  position: relative;
  flex: 0 0 auto;
}

.home-page .div-2 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 3px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 12px;
  overflow: hidden;
  border: 3px solid;
  border-color: #000000;
}

.home-page .div-3 {
  position: relative;
  width: 383.33px;
  height: 200px;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-color: #000000;
  background-image: url(./img/yc-blog-thimbnail-f821b729f1-png.png);
  background-size: 100% 100%;
}

.home-page .div-4 {
  position: relative;
  width: 383.33px;
  height: 240px;
  background-color: #ffffff;
}

.home-page .chowdeck-joins-y {
  position: absolute;
  height: 20px;
  top: 15px;
  left: 22px;
  font-family: "Plus Jakarta Sans-ExtraBold", Helvetica;
  font-weight: 800;
  color: #000000;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.home-page .div-wrapper {
  padding: 0px 24.64px 5px 24.83px;
  top: 55px;
  left: 16px;
  display: inline-flex;
  align-items: flex-start;
  position: absolute;
}

.home-page .text-wrapper-2 {
  position: relative;
  width: 301.86px;
  margin-top: -1.00px;
  font-family: "Plus Jakarta Sans-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
}

.home-page .a {
  display: inline-flex;
  align-items: flex-start;
  padding: 11px 134.59px 13px 134.73px;
  position: absolute;
  top: 176px;
  left: 16px;
  background-color: #0c513f0d;
  border-radius: 8px;
}

.home-page .text-wrapper-3 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Plus Jakarta Sans-Medium", Helvetica;
  font-weight: 500;
  color: #0c513f;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.home-page .div-5 {
  position: relative;
  width: 383.33px;
  height: 200px;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-color: #000000;
  background-image: url(./img/web-kingsley-6701e45a41-png.png);
  background-size: 100% 100%;
}

.home-page .champions-kingsley {
  position: absolute;
  height: 20px;
  top: 15px;
  left: 73px;
  font-family: "Plus Jakarta Sans-ExtraBold", Helvetica;
  font-weight: 800;
  color: #000000;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.home-page .p-2 {
  padding: 0px 3.02px 29px 3.2px;
  top: 55px;
  left: 16px;
  display: inline-flex;
  align-items: flex-start;
  position: absolute;
}

.home-page .text-wrapper-4 {
  position: relative;
  width: 345.11px;
  margin-top: -1.00px;
  font-family: "Plus Jakarta Sans-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
}

.home-page .div-6 {
  position: relative;
  width: 383.34px;
  height: 200px;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-color: #000000;
  background-image: url(./img/web-agam-7215075ed3-png.png);
  background-size: 100% 100%;
}

.home-page .div-7 {
  position: relative;
  width: 383.34px;
  height: 240px;
  background-color: #ffffff;
}

.home-page .champions-anthony {
  position: absolute;
  height: 20px;
  top: 15px;
  left: 83px;
  font-family: "Plus Jakarta Sans-ExtraBold", Helvetica;
  font-weight: 800;
  color: #000000;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.home-page .p-3 {
  padding: 0px 5.86px 5px 6.05px;
  top: 55px;
  left: 16px;
  display: inline-flex;
  align-items: flex-start;
  position: absolute;
}

.home-page .text-wrapper-5 {
  position: relative;
  width: 339.43px;
  margin-top: -1.00px;
  font-family: "Plus Jakarta Sans-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
}

.home-page .a-2 {
  display: inline-flex;
  align-items: flex-start;
  padding: 11px 134.59px 13px 134.75px;
  position: absolute;
  top: 176px;
  left: 16px;
  background-color: #0c513f0d;
  border-radius: 8px;
}

.home-page .bloc-contact {
  position: absolute;
  width: 1442px;
  height: 1706px;
  top: 5797px;
  left: 0;
}

.home-page .overlap-group {
  position: relative;
  height: 1076px;
  background-image: url(./img/div-before.svg);
  background-size: 100% 100%;
}

.home-page .image {
  position: absolute;
  width: 612px;
  height: 800px;
  top: 88px;
  left: 765px;
}

.home-page .div-8 {
  position: absolute;
  width: 612px;
  height: 841px;
  top: 90px;
  left: 78px;
  background-color: #0c513f;
  border-radius: 12px;
}

.home-page .text-wrapper-6 {
  position: absolute;
  width: 300px;
  height: 72px;
  top: 64px;
  left: 72px;
  font-family: "Plus Jakarta Sans-ExtraBold", Helvetica;
  font-weight: 800;
  color: #ffffff;
  font-size: 58px;
  letter-spacing: -3.00px;
  line-height: 72px;
  white-space: nowrap;
}

.home-page .span {
  position: absolute;
  width: 532px;
  height: 112px;
  top: 201px;
  left: 72px;
}

.home-page .overlap-group-2 {
  position: absolute;
  width: 355px;
  height: 48px;
  top: 0;
  left: 0;
  border-radius: 8px;
}

.home-page .a-3 {
  position: absolute;
  width: 355px;
  height: 48px;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border-radius: 8px;
}

.home-page .text-wrapper-7 {
  position: absolute;
  height: 24px;
  top: 11px;
  left: 26px;
  font-family: "Plus Jakarta Sans-Medium", Helvetica;
  font-weight: 500;
  color: #0c513f;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.home-page .br {
  position: absolute;
  top: 14px;
  left: 268px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.home-page .a-4 {
  position: absolute;
  width: 355px;
  height: 48px;
  top: 64px;
  left: 0;
  background-color: #ffffff;
  border-radius: 8px;
}

.home-page .overlap-2 {
  position: absolute;
  width: 576px;
  height: 513px;
  top: 320px;
  left: 28px;
}

.home-page .overlap-3 {
  position: absolute;
  width: 576px;
  height: 513px;
  top: 0;
  left: 0;
}

.home-page .a-5 {
  position: absolute;
  width: 365px;
  height: 245px;
  top: 17px;
  left: 48px;
  background-color: #ffffff;
  border-radius: 8px;
}

.home-page .text-wrapper-8 {
  position: absolute;
  height: 24px;
  top: 10px;
  left: 23px;
  font-family: "Plus Jakarta Sans-Medium", Helvetica;
  font-weight: 500;
  color: #0c513f;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.home-page .promo-code-svg {
  position: absolute;
  width: 128px;
  height: 145px;
  top: 173px;
  left: 0;
}

.home-page .drink-svg {
  position: absolute;
  width: 210px;
  height: 513px;
  top: 0;
  left: 366px;
}

.home-page .p-4 {
  padding: 14px 54.86px 16px 27px;
  top: 326px;
  left: 12px;
  background-color: #ffc501;
  border-radius: 8px;
  border: 3px solid;
  border-color: #000000;
  display: inline-flex;
  align-items: flex-start;
  position: absolute;
}

.home-page .p-before {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 19px;
  left: 27px;
  background-color: #0c513f;
  border-radius: 9999px;
  border: 4px solid;
  border-color: #000000;
}

.home-page .text-wrapper-9 {
  position: relative;
  width: fit-content;
  margin-top: -3.00px;
  font-family: "Plus Jakarta Sans-ExtraBold", Helvetica;
  font-weight: 800;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0.45px;
  line-height: 28px;
  white-space: nowrap;
}

.home-page .get-off-your {
  position: absolute;
  width: 320px;
  height: 48px;
  top: 390px;
  left: 12px;
  font-family: "Plus Jakarta Sans-Regular", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}

.home-page .text-wrapper-10 {
  color: #ffffff;
}

.home-page .text-wrapper-11 {
  font-family: "Plus Jakarta Sans-ExtraBold", Helvetica;
  font-weight: 800;
  color: #ffc501;
}

.home-page .bloc-partenaire {
  position: absolute;
  width: 1440px;
  height: 855px;
  top: 3958px;
  left: -1px;
}

.home-page .overlap-4 {
  position: relative;
  height: 854px;
}

.home-page .vector {
  position: absolute;
  width: 1440px;
  height: 844px;
  top: 5px;
  left: 0;
}

.home-page .img {
  position: absolute;
  width: 408px;
  height: 44px;
  top: 811px;
  left: 0;
}

.home-page .vector-2 {
  position: absolute;
  width: 995px;
  height: 51px;
  top: 794px;
  left: 391px;
}

.home-page .vector-3 {
  position: absolute;
  width: 58px;
  height: 14px;
  top: 802px;
  left: 1382px;
}

.home-page .vector-4 {
  position: absolute;
  width: 408px;
  height: 44px;
  top: 0;
  left: 1032px;
}

.home-page .vector-5 {
  position: absolute;
  width: 995px;
  height: 51px;
  top: 9px;
  left: 54px;
}

.home-page .vector-6 {
  position: absolute;
  width: 58px;
  height: 14px;
  top: 37px;
  left: 0;
}

.home-page .text-wrapper-12 {
  position: absolute;
  width: 718px;
  top: 139px;
  left: 361px;
  font-family: "Titan One-Regular", Helvetica;
  font-weight: 400;
  color: #193129;
  font-size: 85px;
  text-align: center;
  letter-spacing: -2.55px;
  line-height: 102.0px;
  white-space: nowrap;
}

.home-page .intermarch-logo {
  width: 246px;
  height: 46px;
  top: 506px;
  left: 802px;
  position: absolute;
  object-fit: cover;
}

.home-page .element-e-leclerc {
  width: 251px;
  height: 65px;
  top: 506px;
  left: 486px;
  position: absolute;
  object-fit: cover;
}

.home-page .logo-carrefour-svg {
  width: 124px;
  height: 99px;
  top: 489px;
  left: 1112px;
  position: absolute;
  object-fit: cover;
}

.home-page .logo-geant-rvb {
  width: 229px;
  height: 94px;
  top: 494px;
  left: 192px;
  position: absolute;
  object-fit: cover;
}

.home-page .intermarch-logo-2 {
  width: 308px;
  height: 58px;
  top: 287px;
  left: 845px;
  position: absolute;
  object-fit: cover;
}

.home-page .element-px-e-leclerc {
  width: 315px;
  height: 82px;
  top: 287px;
  left: 449px;
  position: absolute;
  object-fit: cover;
}

.home-page .logo-carrefour-svg-2 {
  width: 156px;
  height: 124px;
  top: 266px;
  left: 1233px;
  position: absolute;
  object-fit: cover;
}

.home-page .logo-geant-rvb-2 {
  width: 287px;
  height: 118px;
  top: 272px;
  left: 81px;
  position: absolute;
  object-fit: cover;
}

.home-page .overlap-5 {
  position: absolute;
  width: 1440px;
  height: 2368px;
  top: 979px;
  left: -1px;
}

.home-page .bloc-resaux {
  position: absolute;
  width: 1440px;
  height: 2066px;
  top: 302px;
  left: 0;
}

.home-page .overlap-6 {
  position: relative;
  width: 1448px;
  height: 1766px;
  top: 848px;
}

.home-page .page-verte {
  position: absolute;
  width: 1440px;
  height: 1440px;
  top: 0;
  left: 0;
  background-color: #193129;
}

.home-page .chowdeck-app-png {
  position: absolute;
  width: 543px;
  height: 1046px;
  top: 720px;
  left: 450px;
}

.home-page .instagram-grid-in {
  position: absolute;
  width: 471px;
  height: 906px;
  top: 790px;
  left: 486px;
  object-fit: cover;
}

.home-page .text-wrapper-13 {
  position: absolute;
  top: 439px;
  left: 304px;
  font-family: "Titan One-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 100px;
  text-align: center;
  letter-spacing: -3.00px;
  line-height: 120.0px;
  white-space: nowrap;
}

.home-page .sac-de-merde {
  position: absolute;
  width: 367px;
  height: 439px;
  top: 1243px;
  left: 1081px;
}

.home-page .sac-demerde {
  position: absolute;
  width: 224px;
  height: 246px;
  top: 1470px;
  left: 1053px;
}

.home-page .bloc-assso {
  position: absolute;
  width: 1280px;
  height: 1338px;
  top: 0;
  left: 82px;
}

.home-page .overlap-7 {
  position: relative;
  width: 1248px;
  height: 1214px;
  top: 161px;
  left: 28px;
}

.home-page .div-9 {
  position: absolute;
  width: 1155px;
  height: 492px;
  top: 0;
  left: 34px;
}

.home-page .notre-site-est-la {
  position: absolute;
  width: 1033px;
  height: 153px;
  top: 198px;
  left: 105px;
  font-family: "Plus Jakarta Sans-Regular", Helvetica;
  font-weight: 400;
  color: #0c513f;
  font-size: 26px;
  text-align: center;
  letter-spacing: 0;
  line-height: 28px;
}

.home-page .foodink-est-une {
  position: absolute;
  width: 1107px;
  height: 249px;
  top: -96px;
  left: 24px;
  font-family: "Plus Jakarta Sans-Regular", Helvetica;
  font-weight: 400;
  color: #0c513f;
  font-size: 59px;
  text-align: center;
  letter-spacing: -3.00px;
  line-height: 60px;
}

.home-page .entreprise-asso {
  position: absolute;
  width: 1248px;
  height: 800px;
  top: 414px;
  left: 0;
  background-color: #ffa94d;
  border-radius: 16px;
}

.home-page .overlap-8 {
  position: relative;
  width: 1061px;
  height: 592px;
  top: 103px;
  left: 50px;
}

.home-page .bouton-commerce-wrapper {
  position: absolute;
  width: 1061px;
  height: 560px;
  top: 0;
  left: 0;
}

.home-page .bouton-commerce {
  width: 277px;
  top: 528px;
  left: 170px;
  position: relative;
  height: 64px;
  background-color: #193129;
  border-radius: 8px;
}

.home-page .text-wrapper-14 {
  height: 24px;
  top: 17px;
  left: 52px;
  font-family: "Plus Jakarta Sans-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 32px;
  text-align: center;
  position: absolute;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.home-page .group {
  position: absolute;
  width: 259px;
  height: 64px;
  top: 528px;
  left: 703px;
}

.home-page .bouton-asso {
  position: relative;
  height: 64px;
  background-color: #193129;
  border-radius: 8px;
}

.home-page .text-wrapper-15 {
  position: absolute;
  height: 24px;
  top: 19px;
  left: 40px;
  font-family: "Plus Jakarta Sans-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.home-page .carte {
  display: flex;
  width: 911px;
  align-items: flex-start;
  gap: 121px;
  position: absolute;
  top: 34px;
  left: 108px;
}

.home-page .entreprise {
  position: relative;
  width: 402.66px;
  height: 483.45px;
  border-radius: 16px;
  overflow: hidden;
  border: 4px solid;
  border-color: #000000;
}

.home-page .div-10 {
  position: absolute;
  width: 395px;
  height: 290px;
  top: 4px;
  left: 4px;
}

.home-page .svg {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 28px;
  left: 24px;
}

.home-page .votre-commerce-g-n {
  position: absolute;
  width: 323px;
  height: 112px;
  top: 98px;
  left: 24px;
  font-family: "Plus Jakarta Sans-Regular", Helvetica;
  font-weight: 400;
  color: #0c513f;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 28px;
}

.home-page .a-6 {
  display: inline-flex;
  align-items: center;
  gap: 6.72px;
  position: absolute;
  top: 226px;
  left: 24px;
}

.home-page .voir-plus {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Plus Jakarta Sans-ExtraBold", Helvetica;
  font-weight: 800;
  color: #000000;
  font-size: 14px;
  letter-spacing: 3.00px;
  line-height: 20px;
  white-space: nowrap;
}

.home-page .svg-2 {
  position: relative;
  width: 14px;
  height: 14px;
}

.home-page .foodlink-entreprise-wrapper {
  display: flex;
  width: 399px;
  align-items: flex-start;
  padding: 0px 0px 6px;
  position: absolute;
  top: 294px;
  left: 0;
  background-color: #193129;
}

.home-page .foodlink-entreprise {
  position: relative;
  width: 323px;
  height: 189.45px;
  object-fit: cover;
}

.home-page .asso {
  position: relative;
  width: 402.67px;
  height: 483.47px;
  margin-right: -15.33px;
  border-radius: 16px;
  overflow: hidden;
  border: 4px solid;
  border-color: #000000;
}

.home-page .overlap-group-3 {
  position: absolute;
  width: 399px;
  height: 193px;
  top: 294px;
  left: 4px;
}

.home-page .span-wrapper {
  display: inline-flex;
  align-items: flex-start;
  padding: 0px 0px 6px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #193129;
}

.home-page .div-11 {
  display: inline-flex;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.home-page .image-wrapper {
  display: inline-flex;
  align-items: flex-start;
  padding: 0px 0px 0px 0px;
  position: relative;
  flex: 0 0 auto;
}

.home-page .image-2 {
  position: relative;
  width: 394.67px;
  height: 187.47px;
  background-color: #193129;
}

.home-page .image-3 {
  position: absolute;
  width: 395px;
  height: 187px;
  top: 0;
  left: 0;
}

.home-page .foodlink-asso {
  position: absolute;
  width: 334px;
  height: 187px;
  top: 0;
  left: 64px;
  object-fit: cover;
}

.home-page .svg-3 {
  position: absolute;
  width: 40px;
  height: 25px;
  top: 28px;
  left: 24px;
}

.home-page .text-wrapper-16 {
  position: absolute;
  width: 346px;
  height: 84px;
  top: 112px;
  left: 24px;
  font-family: "Plus Jakarta Sans-Regular", Helvetica;
  font-weight: 400;
  color: #0c513f;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 28px;
}

.home-page .TOP-PAGE {
  position: absolute;
  width: 1442px;
  height: 975px;
  top: 0;
  left: 0;
  overflow: hidden;
}

.home-page .slogan {
  position: relative;
  height: 1080px;
  top: -40px;
}

.home-page .frame-wrapper {
  width: 1442px;
  height: 1024px;
  overflow: hidden;
}

.home-page .frame {
  position: relative;
  width: 1440px;
  height: 1046px;
  left: 1px;
}

.home-page .overlap-9 {
  position: relative;
  width: 1743px;
  height: 1224px;
  top: -99px;
  left: -294px;
}

.home-page .nuage {
  position: absolute;
  width: 1743px;
  height: 1224px;
  top: 0;
  left: 0;
}

.home-page .layer {
  position: absolute;
  width: 371px;
  height: 91px;
  top: 139px;
  left: 1150px;
}

.home-page .layer-2 {
  position: absolute;
  width: 311px;
  height: 169px;
  top: 139px;
  left: 355px;
}

.home-page .layer-3 {
  position: absolute;
  width: 273px;
  height: 117px;
  top: 452px;
  left: 1377px;
}

.home-page .camion-wrapper {
  position: absolute;
  width: 1442px;
  height: 136px;
  top: 978px;
  left: 293px;
  background-image: url(./img/fumee.png);
  background-size: 100% 100%;
}

.home-page .camion {
  position: absolute;
  width: 206px;
  height: 114px;
  top: 17px;
  left: 13px;
  object-fit: cover;
}

.home-page .text-wrapper-17 {
  position: absolute;
  width: 1116px;
  height: 114px;
  top: 711px;
  left: 456px;
  font-family: "Plus Jakarta Sans-Bold", Helvetica;
  font-weight: 700;
  color: #0c513f;
  font-size: 40px;
  text-align: center;
  letter-spacing: 2.00px;
  line-height: 112px;
  white-space: nowrap;
}

.home-page .MAIN-TITLE {
  position: absolute;
  width: 855px;
  height: 138px;
  top: 517px;
  left: 610px;
  font-family: "Titan One-Regular", Helvetica;
  font-weight: 400;
  color: #193129;
  font-size: 128px;
  text-align: center;
  letter-spacing: 2.00px;
  line-height: 112px;
}

.home-page .footer {
  display: flex;
  width: 1440px;
  height: 1195px;
  align-items: flex-start;
  padding: 0px 80px;
  position: relative;
  margin-bottom: -48.00px;
  margin-top: -175px;
  background-color: #000000;
}

.home-page .div-12 {
  position: relative;
  width: 1280px;
  height: 1071px;
}

.home-page .div-13 {
  display: inline-flex;
  align-items: center;
  gap: 127.39px;
  padding: 1px 127.39px 1px 0px;
  position: absolute;
  top: 0;
  left: 16px;
  border-top-width: 1px;
  border-top-style: solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #ffffff20;
}

.home-page .input-email-wrapper {
  display: inline-flex;
  align-items: flex-start;
  padding: 33px 1px 33px 0px;
  position: relative;
  flex: 0 0 auto;
  border-right-width: 1px;
  border-right-style: solid;
  border-color: #ffffff20;
}

.home-page .input-email {
  position: relative;
  width: 956.22px;
  height: 28px;
}

.home-page .div-placeholder {
  display: inline-flex;
  align-items: flex-start;
  padding: 0px 693.22px 0px 0px;
  position: relative;
  top: 1px;
}

.home-page .text-wrapper-18 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Plus Jakarta Sans-ExtraBold", Helvetica;
  font-weight: 800;
  color: #ffffff66;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.home-page .svg-4 {
  position: relative;
  width: 36px;
  height: 36px;
}

.home-page .div-14 {
  display: inline-flex;
  align-items: flex-start;
  padding: 1px 0px 0px;
  position: absolute;
  top: 96px;
  left: 16px;
  border-top-width: 1px;
  border-top-style: solid;
  border-color: #ffffff20;
}

.home-page .div-15 {
  position: relative;
  width: 374.39px;
  height: 877px;
}

.home-page .svg-5 {
  position: absolute;
  width: 128px;
  height: 128px;
  top: 64px;
  left: 0;
}

.home-page .div-16 {
  display: inline-flex;
  align-items: flex-start;
  gap: 16px;
  padding: 0px 143.39px 0px 0px;
  position: absolute;
  top: 797px;
  left: 0;
}

.home-page .image-4 {
  position: relative;
  width: 42px;
  height: 48px;
}

.home-page .image-5 {
  position: absolute;
  width: 42px;
  height: 48px;
  top: 0;
  left: 0;
}

.home-page .text-wrapper-19 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Plus Jakarta Sans-ExtraBold", Helvetica;
  font-weight: 800;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: 48px;
  white-space: nowrap;
}

.home-page .div-17 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 0px 0px 1px;
  position: relative;
  flex: 0 0 auto;
  border-left-width: 1px;
  border-left-style: solid;
  border-color: #ffffff20;
}

.home-page .div-18 {
  display: inline-flex;
  align-items: flex-start;
  padding: 0px 0px 1px;
  position: relative;
  flex: 0 0 auto;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #ffffff20;
}

.home-page .div-19 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  padding: 64px 0px 64px 16px;
  position: relative;
  flex: 0 0 auto;
}

.home-page .text-wrapper-20 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Plus Jakarta Sans-ExtraBold", Helvetica;
  font-weight: 800;
  color: #ffffff66;
  font-size: 14px;
  letter-spacing: 3.00px;
  line-height: 20px;
  white-space: nowrap;
}

.home-page .ul {
  position: relative;
  width: 274.86px;
  height: 504px;
}

.home-page .text-wrapper-21 {
  position: absolute;
  width: 84px;
  height: 21px;
  top: 0;
  left: 0;
  font-family: "Plus Jakarta Sans-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.home-page .text-wrapper-22 {
  position: absolute;
  width: 64px;
  height: 21px;
  top: 48px;
  left: 0;
  font-family: "Plus Jakarta Sans-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.home-page .text-wrapper-23 {
  position: absolute;
  width: 48px;
  height: 21px;
  top: 96px;
  left: 0;
  font-family: "Plus Jakarta Sans-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.home-page .text-wrapper-24 {
  position: absolute;
  width: 80px;
  height: 21px;
  top: 144px;
  left: 0;
  font-family: "Plus Jakarta Sans-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.home-page .text-wrapper-25 {
  position: absolute;
  width: 47px;
  height: 21px;
  top: 192px;
  left: 0;
  font-family: "Plus Jakarta Sans-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.home-page .text-wrapper-26 {
  position: absolute;
  width: 60px;
  height: 21px;
  top: 240px;
  left: 0;
  font-family: "Plus Jakarta Sans-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.home-page .text-wrapper-27 {
  position: absolute;
  width: 41px;
  height: 21px;
  top: 288px;
  left: 0;
  font-family: "Plus Jakarta Sans-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.home-page .text-wrapper-28 {
  position: absolute;
  width: 36px;
  height: 21px;
  top: 336px;
  left: 0;
  font-family: "Plus Jakarta Sans-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.home-page .text-wrapper-29 {
  width: 63px;
  height: 21px;
  top: 384px;
  left: 0;
  font-family: "Plus Jakarta Sans-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  position: absolute;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.home-page .text-wrapper-30 {
  position: absolute;
  width: 96px;
  height: 21px;
  top: 432px;
  left: 0;
  font-family: "Plus Jakarta Sans-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.home-page .text-wrapper-31 {
  position: absolute;
  width: 104px;
  height: 21px;
  top: 480px;
  left: 0;
  font-family: "Plus Jakarta Sans-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.home-page .div-20 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  padding: 64px 1px 64px 17px;
  position: relative;
  flex: 0 0 auto;
  border-right-width: 1px;
  border-right-style: solid;
  border-left-width: 1px;
  border-left-style: solid;
  border-color: #ffffff20;
}

.home-page .ul-2 {
  position: relative;
  width: 272.88px;
  height: 504px;
}

.home-page .text-wrapper-32 {
  position: absolute;
  width: 106px;
  height: 21px;
  top: 0;
  left: 0;
  font-family: "Plus Jakarta Sans-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.home-page .text-wrapper-33 {
  position: absolute;
  width: 97px;
  height: 21px;
  top: 48px;
  left: 0;
  font-family: "Plus Jakarta Sans-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.home-page .text-wrapper-34 {
  position: absolute;
  width: 136px;
  height: 21px;
  top: 96px;
  left: 0;
  font-family: "Plus Jakarta Sans-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.home-page .text-wrapper-35 {
  position: absolute;
  width: 146px;
  height: 21px;
  top: 144px;
  left: 0;
  font-family: "Plus Jakarta Sans-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.home-page .text-wrapper-36 {
  position: absolute;
  width: 159px;
  height: 21px;
  top: 192px;
  left: 0;
  font-family: "Plus Jakarta Sans-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.home-page .text-wrapper-37 {
  position: absolute;
  width: 184px;
  height: 21px;
  top: 240px;
  left: 0;
  font-family: "Plus Jakarta Sans-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.home-page .text-wrapper-38 {
  position: absolute;
  width: 165px;
  height: 21px;
  top: 288px;
  left: 0;
  font-family: "Plus Jakarta Sans-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.home-page .text-wrapper-39 {
  position: absolute;
  width: 177px;
  height: 21px;
  top: 336px;
  left: 0;
  font-family: "Plus Jakarta Sans-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.home-page .text-wrapper-40 {
  position: absolute;
  width: 126px;
  height: 21px;
  top: 384px;
  left: 0;
  font-family: "Plus Jakarta Sans-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.home-page .text-wrapper-41 {
  position: absolute;
  width: 108px;
  height: 21px;
  top: 432px;
  left: 0;
  font-family: "Plus Jakarta Sans-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.home-page .text-wrapper-42 {
  position: absolute;
  width: 107px;
  height: 21px;
  top: 480px;
  left: 0;
  font-family: "Plus Jakarta Sans-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.home-page .ul-3 {
  position: relative;
  width: 274.88px;
  height: 504px;
}

.home-page .text-wrapper-43 {
  width: 103px;
  top: 0;
  position: absolute;
  height: 21px;
  left: 0;
  font-family: "Plus Jakarta Sans-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.home-page .text-wrapper-44 {
  position: absolute;
  width: 63px;
  height: 21px;
  top: 48px;
  left: 0;
  font-family: "Plus Jakarta Sans-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.home-page .text-wrapper-45 {
  position: absolute;
  width: 54px;
  height: 21px;
  top: 96px;
  left: 0;
  font-family: "Plus Jakarta Sans-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.home-page .text-wrapper-46 {
  width: 38px;
  height: 21px;
  top: 144px;
  left: 0;
  font-family: "Plus Jakarta Sans-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  position: absolute;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.home-page .text-wrapper-47 {
  width: 36px;
  height: 21px;
  top: 192px;
  left: 0;
  font-family: "Plus Jakarta Sans-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  position: absolute;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.home-page .text-wrapper-48 {
  width: 40px;
  height: 21px;
  top: 240px;
  left: 0;
  font-family: "Plus Jakarta Sans-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  position: absolute;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.home-page .text-wrapper-49 {
  position: absolute;
  width: 73px;
  height: 21px;
  top: 288px;
  left: 0;
  font-family: "Plus Jakarta Sans-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.home-page .text-wrapper-50 {
  position: absolute;
  width: 135px;
  height: 21px;
  top: 336px;
  left: 0;
  font-family: "Plus Jakarta Sans-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.home-page .text-wrapper-51 {
  position: absolute;
  width: 95px;
  height: 21px;
  top: 384px;
  left: 0;
  font-family: "Plus Jakarta Sans-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.home-page .text-wrapper-52 {
  width: 93px;
  top: 432px;
  position: absolute;
  height: 21px;
  left: 0;
  font-family: "Plus Jakarta Sans-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.home-page .text-wrapper-53 {
  position: absolute;
  width: 57px;
  height: 21px;
  top: 480px;
  left: 0;
  font-family: "Plus Jakarta Sans-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.home-page .ul-4 {
  position: relative;
  width: 872.61px;
  height: 192px;
}

.home-page .li {
  display: inline-flex;
  align-items: flex-start;
  padding: 33.5px 165.92px 34.5px 164.91px;
  position: absolute;
  top: 0;
  left: 0;
  border-right-width: 1px;
  border-right-style: solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #ffffff20;
}

.home-page .a-7 {
  position: relative;
  width: 105.47px;
  height: 28px;
}

.home-page .svg-6 {
  position: absolute;
  width: 35px;
  height: 24px;
  top: 2px;
  left: 0;
}

.home-page .text-wrapper-54 {
  position: absolute;
  height: 28px;
  top: -2px;
  left: 35px;
  font-family: "Plus Jakarta Sans-ExtraBold", Helvetica;
  font-weight: 800;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 28px;
  white-space: nowrap;
}

.home-page .a-wrapper {
  padding: 33.5px 156.64px 34.5px;
  top: 0;
  left: 436px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  display: inline-flex;
  align-items: flex-start;
  position: absolute;
  border-color: #ffffff20;
}

.home-page .a-8 {
  position: relative;
  width: 123.03px;
  height: 28px;
}

.home-page .svg-7 {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 2px;
  left: 0;
}

.home-page .text-wrapper-55 {
  position: absolute;
  height: 28px;
  top: -2px;
  left: 24px;
  font-family: "Plus Jakarta Sans-ExtraBold", Helvetica;
  font-weight: 800;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 28px;
  white-space: nowrap;
}

.home-page .li-2 {
  padding: 34px 147.81px 34px 146.81px;
  top: 96px;
  left: 0;
  border-right-width: 1px;
  border-right-style: solid;
  display: inline-flex;
  align-items: flex-start;
  position: absolute;
  border-color: #ffffff20;
}

.home-page .a-9 {
  position: relative;
  width: 141.67px;
  height: 28px;
}

.home-page .svg-8 {
  position: absolute;
  width: 35px;
  height: 16px;
  top: 6px;
  left: 0;
}

.home-page .text-wrapper-56 {
  position: absolute;
  height: 28px;
  top: -2px;
  left: 43px;
  font-family: "Plus Jakarta Sans-ExtraBold", Helvetica;
  font-weight: 800;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 28px;
  white-space: nowrap;
}

.home-page .a-10 {
  position: absolute;
  width: 111px;
  height: 28px;
  top: 130px;
  left: 599px;
}

.home-page .span-2 {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 4px;
  left: 0;
  background-color: #ff884d;
  border-radius: 9999px;
  border: 4px solid;
  border-color: #ffffff66;
}

.home-page .text-wrapper-57 {
  position: absolute;
  width: 83px;
  height: 25px;
  top: 0;
  left: 28px;
  font-family: "Plus Jakarta Sans-ExtraBold", Helvetica;
  font-weight: 800;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 28px;
  white-space: nowrap;
}

.home-page .div-21 {
  display: inline-flex;
  align-items: flex-start;
  padding: 40px 474.03px 41px 473.97px;
  position: absolute;
  top: 974px;
  left: 16px;
  border-top-width: 1px;
  border-top-style: solid;
  border-color: #ffffff20;
}

.home-page .text-wrapper-58 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Plus Jakarta Sans-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff66;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}


